body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px #ccc;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  cursor: pointer;
  background: #007bff;
  color: white;
}

.action-btn {
  padding: 5px 10px;
  background: red;
  color: white;
  border: none;
}